// Purple Blue Dark Theme
@include color-mode(purple-blue-dark, true) {
  color-scheme: purple-blue-dark;

  $custom-colors: (
    'primary': $aqua-teal,   // or another teal if you'd prefer
    'primary-light': $aqua-teal-400,
    'primary-lighter': $aqua-teal-200,
    'primary-dark': $aqua-teal-600,
    'primary-darker': $aqua-teal-800,
    'secondary': $blue-purple,   // Mix of blue and purple
    'light': $to6-white,
    'dark': $to6-black,
    'base': $dark-purple,    // Dark purple background
    'base-alt': $dark-purple-400,
    'service-hero-lightest': $service-lightest-purple,
    'service-hero-light': $service-light-purple,
    'service-hero-medium': $service-medium-purple,
    'service-hero-dark': $service-dark-purple,
  );

  @import 'maps';
  $utilities: null;
  $utilities: ();
  @import 'utilities';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/card';
  @import '~bootstrap/scss/accordion';
  @import '~bootstrap/scss/breadcrumb';
  @import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  @import '~bootstrap/scss/close';
  @import '~bootstrap/scss/toasts';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/offcanvas';
  @import '~bootstrap/scss/placeholders';

  --bs-body-color: #{$to6-white};
  --bs-body-color-rgb: #{to-rgb($to6-white)};
  --bs-body-bg: #{$darker-purple};
  --bs-body-bg-rgb: #{to-rgb($darker-purple)};
  --bs-nav-link-hover-color: #{$dark-blue};

  --bs-emphasis-color: #{$body-emphasis-color-dark};
  --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};

  --bs-secondary-color: #{$body-secondary-color-dark};
  --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-dark)};
  --bs-secondary-bg: #{$body-secondary-bg-dark};
  --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-dark)};

  --bs-tertiary-color: #{$body-tertiary-color-dark};
  --bs-tertiary-color-rgb: #{to-rgb($body-tertiary-color-dark)};
  --bs-tertiary-bg: #{$body-tertiary-bg-dark};
  --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-dark)};

  --bs-offcanvas-color: var(--bs-light-text);
  --bs-offcanvas-bg: var(--bs-primary-dark);

  @each $color, $value in $theme-colors {
    --bs-#{$color}: #{$value};
    --bs-#{$color}-rgb: #{to-rgb($value)};
  }

  @each $color, $value in $theme-colors-text-dark {
    --bs-#{$color}-text-emphasis: #{$value};
  }

  @each $color, $value in $theme-colors-bg-subtle-dark {
    --bs-#{$color}-bg-subtle: #{$value};
  }

  @each $color, $value in $theme-colors-border-subtle-dark {
    --bs-#{$color}-border-subtle: #{$value};
  }

  --bs-heading-color: #{$headings-color-dark};

  --bs-link-color: #{$link-color-dark};
  --bs-link-hover-color: #{$link-hover-color-dark};
  --bs-link-color-rgb: #{to-rgb($link-color-dark)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color-dark)};

  --bs-code-color: #{$code-color-dark};

  --bs-border-color: #{$border-color-dark};
  --bs-border-color-translucent: #{$border-color-translucent-dark};

  --bs-form-valid-color: #{$form-valid-color-dark};
  --bs-form-valid-border-color: #{$form-valid-border-color-dark};
  --bs-form-invalid-color: #{$form-invalid-color-dark};
  --bs-form-invalid-border-color: #{$form-invalid-border-color-dark};
  // Helpers
  @import '~bootstrap/scss/helpers';

  // Utilities
  @import '~bootstrap/scss/utilities/api';
}

// Purple Blue Light Theme
@include color-mode(purple-blue-light, true) {
  color-scheme: purple-blue-light;

  $custom-colors: (
    'primary': $aqua-green,   // A lighter, vibrant teal as primary
    'primary-light': $aqua-green-100,
    'primary-lighter': $aqua-green-200,
    'primary-dark': $aqua-green-400,
    'primary-darker': $aqua-green-600,
    'secondary': $blue-purple,   // Lighter variant of blue-purple for secondary
    'light': $to6-white,
    'dark': $to6-black,
    'base': $dark-purple-200,   // Lighter purple for the background
    'base-alt': $dark-purple-100,
    'service-hero-lightest': $service-lightest-purple,
    'service-hero-light': $service-light-purple,
    'service-hero-medium': $service-medium-purple,
    'service-hero-dark': $service-dark-purple,
  );

  @import 'maps';
  $utilities: null;
  $utilities: ();
  @import 'utilities';
  @import '~bootstrap/scss/tables';
  @import '~bootstrap/scss/buttons';
  @import '~bootstrap/scss/transitions';
  @import '~bootstrap/scss/dropdown';
  @import '~bootstrap/scss/button-group';
  @import '~bootstrap/scss/nav';
  @import '~bootstrap/scss/navbar';
  @import '~bootstrap/scss/card';
  @import '~bootstrap/scss/accordion';
  @import '~bootstrap/scss/breadcrumb';
  @import '~bootstrap/scss/pagination';
  @import '~bootstrap/scss/badge';
  @import '~bootstrap/scss/alert';
  @import '~bootstrap/scss/progress';
  @import '~bootstrap/scss/list-group';
  @import '~bootstrap/scss/close';
  @import '~bootstrap/scss/toasts';
  @import '~bootstrap/scss/modal';
  @import '~bootstrap/scss/tooltip';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/carousel';
  @import '~bootstrap/scss/spinners';
  @import '~bootstrap/scss/offcanvas';
  @import '~bootstrap/scss/placeholders';

  --bs-body-color: #{$to6-black};  // Using black text for better contrast on light backgrounds
  --bs-body-color-rgb: #{to-rgb($to6-black)};
  --bs-body-bg: #{$dark-purple-50};  // Lighter background color
  --bs-body-bg-rgb: #{to-rgb($dark-purple-50)};
  --bs-nav-link-hover-color: #{$casal-blue};

  --bs-emphasis-color: #{$body-emphasis-color};
  --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color)};

  --bs-secondary-color: #{$body-secondary-color};
  --bs-secondary-color-rgb: #{to-rgb($body-secondary-color)};
  --bs-secondary-bg: #{$body-secondary-bg};
  --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg)};

  --bs-tertiary-color: #{$body-tertiary-color};
  --bs-tertiary-color-rgb: #{to-rgb($body-tertiary-color)};
  --bs-tertiary-bg: #{$body-tertiary-bg};
  --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg)};

  --bs-offcanvas-color: var(--bs-dark-text);
  --bs-offcanvas-bg: var(--bs-primary-dark);

  @each $color, $value in $theme-colors {
    --bs-#{$color}: #{$value};
    --bs-#{$color}-rgb: #{to-rgb($value)};
  }

  @each $color, $value in $theme-colors-text {
    --bs-#{$color}-text-emphasis: #{$value};
  }

  @each $color, $value in $theme-colors-bg-subtle {
    --bs-#{$color}-bg-subtle: #{$value};
  }

  @each $color, $value in $theme-colors-border-subtle {
    --bs-#{$color}-border-subtle: #{$value};
  }

  --bs-heading-color: #{$headings-color};

  --bs-link-color: #{$link-color};
  --bs-link-hover-color: #{$link-hover-color};
  --bs-link-color-rgb: #{to-rgb($link-color)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color)};

  --bs-code-color: #{$code-color};

  --bs-border-color: #{$border-color-light};
  --bs-border-color-translucent: #{$border-color-translucent};

  --bs-form-valid-color: #{$form-valid-color};
  --bs-form-valid-border-color: #{$form-valid-border-color};
  --bs-form-invalid-color: #{$form-invalid-color};
  --bs-form-invalid-border-color: #{$form-invalid-border-color};
  // Helpers
  @import '~bootstrap/scss/helpers';

  // Utilities
  @import '~bootstrap/scss/utilities/api';
}
