// Used in Blue & Gold Dark theme
$dark-blue: #102a39; 
$dark-blue-100: tint-color($dark-blue, 80%) !default; 
$dark-blue-200: tint-color($dark-blue, 60%) !default; 
$dark-blue-300: tint-color($dark-blue, 40%) !default; 
$dark-blue-400: tint-color($dark-blue, 20%) !default; 
$dark-blue-500: $dark-blue !default; 
$dark-blue-600: shade-color($dark-blue, 20%) !default; 
$dark-blue-700: shade-color($dark-blue, 40%) !default; 
$dark-blue-800: shade-color($dark-blue, 60%) !default; 
$dark-blue-900: shade-color($dark-blue, 80%) !default;

$casal-blue: #728fa6; 
$casal-blue-50: tint-color($casal-blue, 90%) !default; 
$casal-blue-100: tint-color($casal-blue, 80%) !default; 
$casal-blue-150: tint-color($casal-blue, 70%) !default; 
$casal-blue-200: tint-color($casal-blue, 60%) !default; 
$casal-blue-250: tint-color($casal-blue, 50%) !default; 
$casal-blue-300: tint-color($casal-blue, 40%) !default; 
$casal-blue-400: tint-color($casal-blue, 20%) !default; 
$casal-blue-500: $casal-blue !default; 
$casal-blue-600: shade-color($casal-blue, 20%) !default; 
$casal-blue-700: shade-color($casal-blue, 40%) !default; 
$casal-blue-800: shade-color($casal-blue, 60%) !default; 
$casal-blue-900: shade-color($casal-blue, 80%) !default;

$gold: #eab754; 
$gold-100: tint-color($gold, 80%) !default; 
$gold-200: tint-color($gold, 60%) !default; 
$gold-300: tint-color($gold, 40%) !default; 
$gold-400: tint-color($gold, 20%) !default; 
$gold-500: $gold !default; 
$gold-600: shade-color($gold, 20%) !default; 
$gold-700: shade-color($gold, 40%) !default; 
$gold-800: shade-color($gold, 60%) !default; 
$gold-900: shade-color($gold, 80%) !default;

$dark-gold: #996f06; 
$dark-gold-100: tint-color($dark-gold, 80%) !default; 
$dark-gold-200: tint-color($dark-gold, 60%) !default; 
$dark-gold-300: tint-color($dark-gold, 40%) !default; 
$dark-gold-400: tint-color($dark-gold, 20%) !default; 
$dark-gold-500: $dark-gold !default; 
$dark-gold-600: shade-color($dark-gold, 20%) !default; 
$dark-gold-700: shade-color($dark-gold, 40%) !default; 
$dark-gold-800: shade-color($dark-gold, 60%) !default; 
$dark-gold-900: shade-color($dark-gold, 80%) !default;

$darker-blue: #08202f; 
$service-lightest-blue: #3f95ba; 
$service-light-blue: #2e6c8f; 
$service-medium-blue: #154762; 
$service-dark-blue: #153040; 

// Used in Purple & Blue Dark theme
$dark-purple: #18142d; 
$dark-purple-100: tint-color($dark-purple, 80%) !default; 
$dark-purple-200: tint-color($dark-purple, 60%) !default; 
$dark-purple-300: tint-color($dark-purple, 40%) !default; 
$dark-purple-400: tint-color($dark-purple, 20%) !default; 
$dark-purple-500: $dark-purple !default; 
$dark-purple-600: shade-color($dark-purple, 20%) !default; 
$dark-purple-700: shade-color($dark-purple, 40%) !default; 
$dark-purple-800: shade-color($dark-purple, 60%) !default; 
$dark-purple-900: shade-color($dark-purple, 80%) !default;

$blue-purple: #4a56a0;  // Changed to blue-purple for a mix of blue and purple
$blue-purple-50: tint-color($blue-purple, 90%) !default; 
$blue-purple-100: tint-color($blue-purple, 80%) !default; 
$blue-purple-150: tint-color($blue-purple, 70%) !default; 
$blue-purple-200: tint-color($blue-purple, 60%) !default; 
$blue-purple-250: tint-color($blue-purple, 50%) !default; 
$blue-purple-300: tint-color($blue-purple, 40%) !default; 
$blue-purple-400: tint-color($blue-purple, 20%) !default; 
$blue-purple-500: $blue-purple !default; 
$blue-purple-600: shade-color($blue-purple, 20%) !default; 
$blue-purple-700: shade-color($blue-purple, 40%) !default; 
$blue-purple-800: shade-color($blue-purple, 60%) !default; 
$blue-purple-900: shade-color($blue-purple, 80%) !default;

$aqua-green: #1de9b6; 
$aqua-green-100: tint-color($aqua-green, 80%) !default; 
$aqua-green-200: tint-color($aqua-green, 60%) !default; 
$aqua-green-300: tint-color($aqua-green, 40%) !default; 
$aqua-green-400: tint-color($aqua-green, 20%) !default; 
$aqua-green-500: $aqua-green !default; 
$aqua-green-600: shade-color($aqua-green, 20%) !default; 
$aqua-green-700: shade-color($aqua-green, 40%) !default; 
$aqua-green-800: shade-color($aqua-green, 60%) !default; 
$aqua-green-900: shade-color($aqua-green, 80%) !default;

$aqua-teal: #007e82; 
$aqua-teal-100: tint-color($aqua-teal, 80%) !default; 
$aqua-teal-200: tint-color($aqua-teal, 60%) !default; 
$aqua-teal-300: tint-color($aqua-teal, 40%) !default; 
$aqua-teal-400: tint-color($aqua-teal, 20%) !default; 
$aqua-teal-500: $aqua-teal !default; 
$aqua-teal-600: shade-color($aqua-teal, 20%) !default; 
$aqua-teal-700: shade-color($aqua-teal, 40%) !default; 
$aqua-teal-800: shade-color($aqua-teal, 60%) !default; 
$aqua-teal-900: shade-color($aqua-teal, 80%) !default;

$darker-purple: #0f0921; 
$service-lightest-purple: #a3a3cc; 
$service-light-purple: #8381b3; 
$service-medium-purple: #624e89; 
$service-dark-purple: #372e60; 

$to6-black: #232222; 
$to6-white: #e9e9ef; 
$border-color-light: #c4cad0; 
